# Environment variables - DO NOT upload
.env
.env.*
!.env.example

# Python virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Python cache/testing
.pytest_cache/
.mypy_cache/

# Build files
build/
dist/
*.egg-info/